#Registro{
    max-width: 500px; 
}

#Registro #registro-titulo{
    
    margin: 0;
    max-width: 650px; 
    border-bottom: black solid;
    position: relative;
    height: 55px;
    font-size: 30px;
    text-align: left;
    margin-top:40px;
    margin-bottom:30px;
    padding: 10px;  
}
