#imagen{
    margin:45px auto 15px;
}

#input[type="file"]{
    display: none;
}

.home{
    position: absolute;
    left: 10%;
    right: 10%;
}

.inputplanta{
    
}

.plantaimg{
    position: absolute;
}