.titleImage{
  text-align: center;
  margin-top: 5%;
  font-size: 210%;
}
.carosusel {
    font-family: sans-serif;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  