#Registro #registro-titulo .imagen-registro{
    position:absolute;
    right: 0%;
    top:-15%;
    width: 130px;
    height: auto;
}

#Registro #registro-titulo{
    
    width: 100%;
    margin: 0;
    max-width: 650px; 
    border-bottom: black solid;
    position: relative;
    height: 50px;
    font-size: 30px;
    text-align: left;
    margin-top:80px;
    margin-bottom:80px;
    padding: 10px;
    
}

#Registro{
    max-width: 700px; 
}


@media only screen and (max-width: 350px) {
    #Registro #registro-titulo .imagen-registro{
      display: None;
    }
  }