body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ccfaeb !important;
  padding-top: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}
.Cart,
.boton-hamburguesa{
  width: 30px;
  top : 13px;
  position:absolute;
}
.imagen-boton-cart,
.imagen-rojo-boton-cart{
  position:absolute;
  top:0px;
}
.imagen-rojo-boton-cart{
  width: 75%;
  top:-35%;
  right:-35%;
  z-index:100;
}
.imagen-rojo-boton-cart .numero{
  position:absolute;
  top:-6%;
  left:15%;
  font-weight: 700;
}
.boton-hamburguesa{
  left : 10%;
}
.Cart{
  right: 10%;
}

.imagen-header{
  margin: 0 auto;
  margin-top: 4px;
  width: 140px;
}
.header{
  position:fixed;
  top:0%;
  left:0%;
  width: 100%;
  height:60px;
  background-color: white;
  z-index: 100;
}